button:focus {
    outline: none;
}
body {
    background-color: #ffffff;
    font-family: "roboto condensed";
    padding-left: 2.5%;
    padding-right: 2.5%;
    color: #5C5C5C;
}
header {
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
    padding-right: 30px;
    justify-content: space-between;
}
.header-form {
    display: flex;
    justify-content: space-between;
    height: 70px;
    flex-basis: 100%;
}
.logo {
    display: flex;
    flex-basis: 30%;
}
.logo__img {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    border: 10px solid #FF742B;
    border-radius: 10px;
    font-family: "open sans";
    margin-bottom: 10px;
    margin-right: 10px;
}
.logo__inner-img {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: #FF742B;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    line-height: 44px;
    font-size: 50px;
    margin: auto;
    padding-left: 5px;
    vertical-align: middle;
}
.logo__text {
    width: 160px;
    font-size: 26px;
    padding-top: 6px;
    padding-bottom: 10px;
    color: #B6B6B6;
    line-height: 30px;
}
.sort {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #B6B6B6;
    flex-basis: 25%;
    min-width: 230px;
}
.sort__title {
    line-height: 70px;
}
.sort__button {
    height: 40px;
    line-height: 30px;
    border: none;
    background: none;
    font-size: 18px;
    color: #B6B6B6;
    align-self: center;
    padding: 0;
}
.sort__button--selected {
    font-weight: bold;
    border-bottom: 2px solid #FF742B;
}
.search {
    display: flex;
    align-self: center;
    flex-basis: 65%;
    font-size: 16px;
    color: #B6B6B6;
}
.search__parameters {
    position: relative;
    display: flex;
    border: 1px solid #B6B6B6;
    height: 40px;
    border-radius: 25px;
    flex-basis: 70%;
    margin-right: 10px;
}
.search__select {
    position: relative;
    flex-basis: 25%;
    min-width: 100px;
}
.search__select input {
    display: none;
}
.search__select-option {
    position: absolute;
    display: none;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    width: 100%;
    box-sizing: border-box;
}
.search__select-option::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    top: 5px;
    right: -1px;
    background-color: #B6B6B6;
}
.search__select-option::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #B6B6B6;
    right: 10px;
    top: 16px;
}
input[checked] + .search__select-option  {
    display: block;
}
.search__input {
    flex-basis: 70%;
    border: none;
    padding-right: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 15px;
    min-width: 200px;
}
.search__input:focus{
    outline: none;
}
.search__input::placeholder {
    color: #B6B6B6;
    font-size: 14px;
}
.search__parameters::after {
    display: block;
    content: " ";
    background-image: url("../img/search.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0px;
    top: 7px;
}
.search__powered {
    display: flex;
    font-size: 14px;
    line-height: 40px;
    min-width: 140px;
}
.search__powered img {
    padding-top: 10px;
    margin-left: 10px;
}
.main-block {
    display: flex;
}
.aside {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    background-color: #F8F8F8;
}
.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #eeeeee;
}
.nav--user-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 100%;
    padding-bottom: 0;
}
.nav__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.nav__el {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav__el a {
    display: block;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 45px;
    color: #5C5C5C;
    text-decoration: none;
    height: 40px;
    font-size: 16px;
}
.nav__el--selected {
    background-color: #E4E3E5;
}
.nav__el--news::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 10px;
    background-image: url("../img/news.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}
.nav__el--hot::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 10px;
    background-image: url("../img/fire.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}
.nav__el--show::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 10px;
    background-image: url("../img/megaphone.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}
.nav__el--ask::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 10px;
    background-image: url("../img/cloud.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}
.nav__el--polls::before {
     content: "";
     position: absolute;
     left: 14px;
     top: 10px;
     background-image: url("../img/lightbulb.svg");
     background-repeat: no-repeat;
     background-size: 16px 16px;
     width: 16px;
     height: 16px;
 }
.nav__el--jobs::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 10px;
    background-image: url("../img/banknote.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}
.nav__el--user::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 10px;
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}
.nav__el--favorites::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 10px;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}
.nav__settings {
    border: none;
    height: 40px;
    margin: 0;
    padding: 0;
}
.nav__settings a {
    margin: 0;
    position: relative;
    font-size: 16px;
    color: #5C5C5C;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    padding-left: 15%;
    box-sizing: border-box;
}
.nav__settings a::before {
    content: "";
    position: absolute;
    top: 10px;
    background-image: url("../img/gear.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    left: calc(44% - 35px);
}
main {
    display: flex;
    flex-direction: column;
    flex-basis: 85%;
    border-top: 1px solid #eeeeee;
}
.main-results {
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}
.main-results__count {
    display: flex;
}
.main-results__all {
    line-height: 50px;
    font-size: 26px;
    margin-right: 15px;
}
.main-results__search-data{
    line-height: 32px;
    padding-top: 14px;
    color: #B6B6B6;
    font-size: 14px;
}
.main-results__switch {
    display:flex;
    font-size: 14px;
    line-height: 50px;
}
.main-results__switch input {
    display: none;
}
.main-results__case {
    padding-left: 30px;
    position: relative;
    margin-right: 20px;
}
.main-results__case::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    left: 0;
    top: 15px;
}
.main-results__case::after {
    box-sizing: border-box;
    content: "";
    display: none;
    position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    left: 6px;
    top: 21px;
    background-color: #FF742B;
}
.main-results__switch input:checked + .main-results__case::after {
    display: block;
}
.articles {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.articles__link {
    display: flex;
    flex-basis: 60%;
    min-width: 530px;
}
.articles__el {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eeeeee;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.articles__prev {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    margin-right: 20px;
}
.articles__prev img {
    width: 54px;
    height: 54px;
}
.articles__info {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 6px;
}
.articles__title {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #5C5C5C;
    line-height: 24px;
}
.articles__meta {
    display: flex;
    color: #B6B6B6;
}
.articles__meta-el {
    position: relative;
    line-height: 24px;
    font-size: 14px;
    margin-right: 20px;
    padding-left: 18px;
}
.articles__meta-website {
    line-height: 24px;
    font-size: 14px;
    color: #5A96B1;
}
.articles__meta-el--heart::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 2px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
}
.articles__meta-el--person::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 4px;
    background-image: url("../img/user-icon.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
}
.articles__meta-el--clock::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 5px;
    background-image: url("../img/clock.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
}
.articles__social {
    display: flex;
}
.articles__button {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
}
.articles__comments {
    position: relative;
    color: #FF742B;
    font-size: 14px;
    line-height: 60px;
    padding-left: 18px;
    margin-right: 30px;
}
.articles__comments::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 22px;
    background-image: url("../img/comment.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
}
.articles__share {
    margin-right: 30px;
    width: 20px;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.articles__favorites {
    padding-top: 3px;
    margin-right: 30px;
}
.articles__star:hover {
    stroke: #FF742B;
    fill: #FF742B;
    cursor: pointer;
}
.articles__star--liked {
    stroke: #FF742B;
    fill: #FF742B;
}
